# Guided Capstone Step 4 - Pre-processing and Training Data Development

### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   **Pre-processing and Training Data Development**

5.  Modeling
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

In this step of the guided capstone, you'll revisit some of the steps you completed to solve questions in step 4. Revisiting these steps will help you get additional practice completing this kind of work.

**<font color='teal'> Start by loading the necessary packages, as you've done in the previous steps. Print out your current working directory to confirm that you are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

**<font color='teal'>  Load the csv file you created in step 3. Remember, it should be saved inside your data subfolder. Print the first five rows.</font>**

In [8]:
path=os.getcwd() + '\data'
os.chdir(path)

In [2]:
#for change of the path variable
path= os.getcwd() 
os.chdir(path)

NameError: name 'os' is not defined

In [9]:
#for iterating the files in th folder
for files in os.walk('./'):
      print (files)

('./', [], ['step2_output.csv', 'step3_output.csv', 'updated_ski_data.csv'])

In [12]:
#csv reading
df=pd.read_csv('step3_output.csv')
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Eaglecrest Ski Area,Alaska,2600,1540,0,0,0,0,0,0,...,640.0,60,45,44.0,350,47.0,53.0,90,0,2
1,Hilltop Ski Area,Alaska,2090,294,0,0,0,0,0,1,...,30.0,30,150,36.0,69,30.0,34.0,152,30,0
2,Sunrise Park Resort,Arizona,11100,1800,0,0,0,1,2,3,...,800.0,80,115,49.0,250,74.0,78.0,104,80,1
3,Yosemite Ski & Snowboard Area,California,7800,600,0,0,0,0,0,1,...,88.0,0,110,84.0,300,47.0,47.0,107,0,1
4,Dodge Ridge,California,8200,1600,0,0,0,0,1,2,...,862.0,0,0,69.0,350,78.0,78.0,140,0,1

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `State`. Add the dummies back to the dataframe and remove the original column for `State`. </font>**

In [11]:
df.columns

Index(['Name', 'state', 'summit_elev', 'vertical_drop', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double', 'surface',
       'total_chairs', 'Runs', 'TerrainParks', 'LongestRun_mi',
       'SkiableTerrain_ac', 'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen',
       'averageSnowfall', 'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen',
       'NightSkiing_ac', 'clusters'],
      dtype='object')

In [15]:
dummies = pd.get_dummies(df['state'])
#dummy var trap 
dummies.head()

,Alaska,Arizona,California,Colorado,Connecticut,Idaho,Illinois,Indiana,Iowa,Maine,...,Pennsylvania,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df=df.drop(['state'], axis =1)

In [18]:
df = pd.concat([df,dummies], axis=1)

In [23]:
df.columns

Index(['summit_elev', 'vertical_drop', 'trams', 'fastEight', 'fastSixes',
       'fastQuads', 'quad', 'triple', 'double', 'surface', 'total_chairs',
       'Runs', 'TerrainParks', 'LongestRun_mi', 'SkiableTerrain_ac',
       'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen', 'averageSnowfall',
       'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac',
       'clusters', 'Alaska', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri',
       'Montana', 'Nevada', 'New Hampshire', 'New Mexico', 'New York',
       'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'South Dakota',
       'Tennessee', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing, standardize the scale of the features of the dataframe except the name of the resort, which you don't need in the dataframe for modeling so it can be droppped here as well. You should  hold out your response variable(s) so that you can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as your response for scaling and modeling. Later, you will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave, them in the development dataframe. </font>**

In [ ]:
df=df.drop(['Name'], axis =1)

In [271]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
samples_scaled = scaler.fit_transform(samples)
X = scaler.fit_transform(samples)

In [272]:
y= df['AdultWeekend'].values

In [273]:
X.shape

(138, 56)

In [313]:
pd.DataFrame(X).fillna(method='ffill', inplace=True)

In [274]:
y.shape

(138,)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selectionm import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. You will start by using the adult weekend ticket price as your response variable for modeling.</font>**

In [314]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [315]:
len(xTrain),len(xTest),len(yTrain),len(yTest)

(103, 35, 103, 35)

In [316]:
#xTrain.fillna(xTrain.mean())
pd.DataFrame(xTest).fillna(method='ffill', inplace=True)

Here, you'll start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5 - Modeling

You've cleaned and prepared the datasets, so now it's time to get into the most exciting part of this process: modeling! In this exercise, you will build three different models and compare each model's performance. In the end, you will choose the best model for proving insights to Big Mountain management.  

1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with Training Data Set

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [330]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model=lm.fit(xTrain,yTrain)

In [318]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

In [331]:
y_pred = lm.predict(xTest)

## Review Model Outcomes — Iterate over additional models as needed.

In [329]:
mean_absolute_error(yTest,y_pred)

257470568310.48264

In [320]:
explained_variance_score(yTest,y_pred)

-4.106763576924629e+21

In [333]:
print('R2 Value - ', lm.score(xTrain,yTrain))

R2 Value -  0.9020098307789104

**<font color='teal'> Print the intercept value from the linear model. </font>**

In [195]:
lm.intercept_

-207276971017.87384

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the `AdultWeekend` resulting value. Also, because you took the time to scale your x values in the training data, you can compare each of the coefficients for the features to determine the feature's importance. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 

Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what you are looking for is the magnitude of impact on your response variable.

In [307]:
lm.coef_

array([ 3.74912158e+00,  1.09897447e+00,  5.18070057e+13,  8.01987710e+13,
        2.41467647e+13,  2.46312418e+12,  3.07850780e+12,  5.37814094e+12,
        6.59503696e+12,  6.11374459e+12, -1.16614318e+13,  1.08496094e+00,
        1.25781250e+00,  1.73828125e-01, -1.27001953e+00,  1.60028076e+00,
        5.81054688e-01, -7.85156250e-01, -1.91015625e+00,  1.01562500e+01,
        9.29687500e-01, -1.01562500e-01,  6.83593750e-02,  1.69265918e+12,
       -2.35486207e+10,  3.67189332e+12,  2.37611505e+12,  2.64664622e+12,
        2.06543999e+12,  2.06543999e+12,  1.69265918e+12,  1.20128306e+12,
        2.64664622e+12,  1.20128306e+12,  1.69265918e+12,  3.30979991e+12,
        3.30979991e+12,  1.20128306e+12,  1.69265918e+12,  1.69265918e+12,
        3.49704467e+12,  2.88833565e+12,  4.27621892e+12,  2.37611505e+12,
        2.06543999e+12,  2.06543999e+12,  3.67189332e+12,  1.20128306e+12,
       -5.75843811e+00,  2.06543999e+12,  2.88833565e+12,  1.20128306e+12,
        1.69265918e+12,  2.06543999e+12,  3.49704467e+12,  2.06543999e+12])

In [335]:
s= pd.DataFrame(abs(lm.coef_), df.columns, columns=['Coefficient'])

ValueError: Shape of passed values is (56, 1), indices imply (57, 1)

In [ ]:
s.sort_values(by='Coefficient',ascending=False).head(10)

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that you care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

#### Model 2

In [ ]:
#pd.DataFrame(xTrain).fillna(method='ffill', inplace=True)

In [202]:
df.columns

Index(['summit_elev', 'vertical_drop', 'trams', 'fastEight', 'fastSixes',
       'fastQuads', 'quad', 'triple', 'double', 'surface', 'total_chairs',
       'Runs', 'TerrainParks', 'LongestRun_mi', 'SkiableTerrain_ac',
       'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen', 'averageSnowfall',
       'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac',
       'clusters', 'Alaska', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri',
       'Montana', 'Nevada', 'New Hampshire', 'New Mexico', 'New York',
       'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'South Dakota',
       'Tennessee', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [260]:
df_mod2 = df.iloc[:,:25]
X2 = df_mod2.drop('AdultWeekend',axis=1)
y2= df_mod2['AdultWeekend']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,test_size=0.25)

In [261]:
len(X2_train),len(X2_test),len(y2_train),len(y2_test)

(103, 35, 103, 35)

In [263]:
pd.DataFrame(X2_train).fillna(method='ffill', inplace=True)

In [264]:
lm2 = linear_model.LinearRegression()
model2 = lm2.fit(X2_train,y2_train)

In [265]:
model2

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [233]:
pd.DataFrame(X2_test).fillna(method='ffill', inplace=True)

In [266]:
y2_pred = lm2.predict(X2_test)

In [267]:
print('R2 Model2 = ',lm2.score(X2_test,y2_test))

R2 Model2 =  0.6628731431534258

**<font color='teal'> When reviewing your new model coefficients, note that `summit_elev` is now in the number two spot. From a managerial perspective, this is also difficult to change and highly correlated with `base_elev` and `vertical_drop`.  This time rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [241]:
df.columns

Index(['summit_elev', 'vertical_drop', 'trams', 'fastEight', 'fastSixes',
       'fastQuads', 'quad', 'triple', 'double', 'surface', 'total_chairs',
       'Runs', 'TerrainParks', 'LongestRun_mi', 'SkiableTerrain_ac',
       'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen', 'averageSnowfall',
       'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac',
       'clusters', 'Alaska', 'Arizona', 'California', 'Colorado',
       'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri',
       'Montana', 'Nevada', 'New Hampshire', 'New Mexico', 'New York',
       'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'South Dakota',
       'Tennessee', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [0]:
#df.drop(['state','summit_elev','base_elev'], axis = 1)

In [247]:
X2 = df.drop(['summit_elev'], axis = 1) 
X2.columns
#y2= df_mod2['AdultWeekend']
#X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,test_size=0.25)

Index(['vertical_drop', 'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad',
       'triple', 'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac', 'clusters',
       'Alaska', 'Arizona', 'California', 'Colorado', 'Connecticut', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nevada',
       'New Hampshire', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oregon', 'Pennsylvania', 'South Dakota', 'Tennessee', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

In [249]:
X2=X2.iloc[:,:24]
X2 = X2.drop('AdultWeekend',axis=1)
y2= df_mod2['AdultWeekend']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,test_size=0.25)

In [250]:
len(X2_train),len(X2_test),len(y2_train),len(y2_test)

(103, 35, 103, 35)

In [254]:
pd.DataFrame(X2_test).fillna(method='ffill', inplace=True)

In [256]:
lm2 = linear_model.LinearRegression()
model3 = lm2.fit(X2_train,y2_train)

In [257]:
model3

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [258]:
y2_pred = lm2.predict(X2_test)

In [259]:
print('R2 Model3 = ',lm2.score(X2_test,y2_test))

R2 Model2 =  0.7347653047733318

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell. You will explain your selection during the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

Model 1